<div class="[ alert ][ w-full]">
  <div class="[ content ][ max-w-1040px mx-auto ]">
    <img
      src="/images/icon-alert.svg"
      alt="alert-icon"
      width="16px"
      height="16px"
    />
    <div><slot /></div>
  </div>
</div>
