<div class="breadcrumbs">
  <div class="[ container ][ max-w-1040px mx-auto ]">
    <ul class="links">
      <li class="item"><a href="#">トップページ</a></li>
      <li class="item">ページタイトル</li>
      <li class="item">ページタイトル</li>
    </ul>
  </div>
</div>
