---
interface Props {
  image_position?: "right" | "left";
}

const { image_position } = Astro.props;
---
<div class:list={["card", { "to-right": (image_position === "right"), "to-left": (image_position === "left") }]}>
  <slot name="image" />
  <slot/>
</div>