<header class="header">
  <div class="logo">
    <img src="/images/logo_progos.svg" alt="progos logo" width="114.85px" height="20px" />
    <span class="caption">法人向けグローバルリーダー育成研修サービス</span>
  </div>
  <div class="right">
    <div class="group-1">
      <img src="/images/logo_rarejobgroup.svg" alt="rare job group logo" width="86.46px" height="25px" />
      <img src="/images/logo_jpxprime.svg" alt="JPX prime logo" width="21.25px" height="25px" />
      <span class="caption">東証プライム上場のレアジョブグループ</span>
    </div>
    <div class="group-2">
      <a class="button cta-button" href="#" target="_blank">オンライン相談</a>
      <a class="button cta-button" href="#" target="_blank">資料ダウンロード</a>
      <a class="button cta-button" href="#" target="_blank">お問い合わせ</a>
    </div>
  </div>
  <button class="menu-button">
    <div class="icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <span class="label">MENU</span>
  </button>
</header>