<div class="link-collection">
  <a href="#" target="_blank" rel="noopener noreferrer">英語スピーキングテスト<br />PROGOS［自動採点版］</a>
  <a href="#" target="_blank" rel="noopener noreferrer">レアジョブ英会話<br />ビジネス英会話コース</a>
  <a href="#" target="_blank" rel="noopener noreferrer">レアジョブ英会話<br />スマートメソッド®コース</a>
  <a href="#" target="_blank" rel="noopener noreferrer">超短期集中プラン</a>
  <a href="#" target="_blank" rel="noopener noreferrer">グループセッション</a>
  <a href="#" target="_blank" rel="noopener noreferrer">学習法／モチベーション<br />アップセミナー</a>
  <a href="#" target="_blank" rel="noopener noreferrer">グローバルマインドセット</a>
</div>