---
export interface Props {
  text: string;
  href: string;
  type?: "cv" | "new-window";
}

const { text, href, type } = Astro.props;
---

<a class="button link-button" data-type={type} href={href} target="_blank">
  <span class="text">{text}</span>
</a>