<div class="menu">
  <div class="[ container ][ max-w-1040px mx-auto ]">
    <ul class="menu-links">
      <li class="menu-item"><a href="#">サービス</a></li>
      <li class="menu-item"><a href="#">導入事例</a></li>
      <li class="menu-item"><a href="#">料金</a></li>
      <li class="menu-item"><a href="#">セミナー</a></li>
      <li class="menu-item"><a href="#">コラム</a></li>
      <li class="menu-item"><a href="#">お役立ち資料</a></li>
      <li class="menu-item"><a href="#">ニュース</a></li>
      <li class="menu-item"><a href="#">会社情報</a></li>
    </ul>
  </div>
</div>
