<div class="page-title-sub">
  <div class="[ container ][ max-w-1040px mx-auto ]">
    <h1 class="title"><slot name="title" /></h1>
    <h2 class="subtitle"><slot name="subtitle" /></h2>
  </div>
</div>
