---

---
<div class="points">
  <div class="point">
    <div class="point-index">
      <span>POINT</span>
      <span class="number">01</span>
    </div>
    <div class="point-content">
      <p>1回たった50分のオンライン学習を約16週間（80回）行うスマートな学習カリキュラムを構成。入念なすり合わせを行うことで継続率99％を達成。日々ビジネスに追われる忙しいビジネスパーソンでも完遂いただけます。</p>
    </div>
    <img class="point-image" src="/images/img_blank.jpg" alt="point image 1">
  </div>
  <div class="point">
    <div class="point-index">
      <span>POINT</span>
      <span class="number">02</span>
    </div>
    <div class="point-content">
      <p>英会話初級者はもちろん日々の業務で高度な英会話力を求められる中級者・上級者にも満足いただけるよう、CEFRの6項目の強弱を分析し、弱みを強みに変える個別最適化されたトレーニングを設定。
        約6,000名の在籍講師の中から熱意、指導スキル、コミュニケーションスキルなどの観点から厳選されたトップ10％の講師達が、できないことをできるようにするための的確なフィードバックを行い、確実なレベルアップを保証します。</p>
    </div>
    <img class="point-image" src="/images/img_blank.jpg" alt="point image 1">
  </div>
  <div class="point">
    <div class="point-index">
      <span>POINT</span>
      <span class="number">03</span>
    </div>
    <div class="point-content">
      <p>日本人専属コーチがあなたをコンサルタント。細かいコミュニケーションやフォローを行い、モチベーションを維持します。</p>
    </div>
    <img class="point-image" src="/images/img_blank.jpg" alt="point image 1">
  </div>
</div>