---
export interface Props {
  columns?: number;
}

const getClass = (cols) => {
  return cols > 1 ? " cols-" + cols : "";
}

const { columns = 1 } = Astro.props;
---

<div class={"row" + getClass(columns)}>
  <slot />
</div>