---
import Tag from "./Tag.astro";
---

<div class="tabs">
  <div class="tab-item-container">
    <div class="tab-item active" data-tab-index="1"><span>業種</span></div>
    <div class="tab-item" data-tab-index="2"><span>提供サービス</span></div>
    <div class="tab-item" data-tab-index="3"><span>目的</span></div>
    <div class="tab-item" data-tab-index="4"><span>エリア</span></div>
  </div>
  <div class="content-area">
    <div class="inner-container active" data-content-index="1">
      <Tag>製造業</Tag>
      <Tag>建設業</Tag>
      <Tag>不動産業</Tag>
      <Tag>運輸運送業</Tag>
      <Tag>士業</Tag>
      <Tag>情報通信業</Tag>
      <Tag>宿泊飲食業</Tag>
      <Tag>サービス業</Tag>
      <Tag>その他</Tag>
    </div>
    <div class="inner-container" data-content-index="2">
      <p>Tab 2 Contents</p>
    </div>
    <div class="inner-container" data-content-index="3">
      <p>Tab 3 Contents</p>
    </div>
    <div class="inner-container" data-content-index="4">
      <p>Tab 4 Content</p>
    </div>
  </div>
</div>