<table class="two-dimensional-table">
  <thead>
    <tr>
      <th class="cell table-heading"></th>
      <th class="cell table-heading">見出し</th>
      <th class="cell table-heading">見出し</th>
      <th class="cell table-heading">見出し</th>
      <th class="cell table-heading">見出し</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="cell table-heading">見出し</th>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
    </tr>
    <tr>
      <th class="cell table-heading">見出し</th>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
    </tr>
    <tr>
      <th class="cell table-heading">見出し</th>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
      <td class="cell">項目が入ります</td>
    </tr>
  </tbody>
</table>