<div class="past-speakers">
  <span class="heading text-bold">お話をうかがった方</span>
  <p>EXCECTIVE Officer　汾陽（かわみなみ） 祥太 様（導入責任者様</p>
  <p>Relationship Development Office Division Manager　中島 義雄 様（受講者様</p>
</div>