<table class="horizontal-table">
  <tr class="table-row">
    <th class="cell table-heading">見出し</th>
    <td class="cell">項目が入ります</td>
  </tr>
  <tr class="table-row">
    <th class="cell table-heading">見出し</th>
    <td class="cell">
      項目が入ります<br>
      項目が入ります
    </td>
  </tr>
  <tr class="table-row">
    <th class="cell table-heading">見出し</th>
    <td class="cell">項目が入ります</td>
  </tr>
  <tr class="table-row">
    <th class="cell table-heading">見出し</th>
    <td class="cell">項目が入ります</td>
  </tr>
</table>