<div class="one-dimensional-table divide-y">
  <div class="table-row">
    <span class="table-heading">
      見出し：テキストが入ります
    </span>
    <div class="table-content">
      <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが</p>
    </div>
  </div>
  <div class="table-row">
    <span class="table-heading">
      見出し：テキストが入ります
    </span>
    <div class="table-content">
      <p>テキストが入りますテキストが入ります<br/><a class="underline" href="#">テキストリンク</a></p>
      <p>テキストが入りますテキストが入ります<br/><a class="underline" href="#">テキストリンク</a></p>
      <p>テキストが入りますテキストが入ります<br/><a class="underline" href="#">テキストリンク</a></p>
    </div>
  </div>
  <div class="table-row">
    <span class="table-heading">
      見出し：テキストが入ります
    </span>
    <div class="table-content">
      <p class="text-bold">見出し：テキストが入ります</p>
      <p><a class="underline" href="#">テキストリンク</a><br/>テキストが入りますテキストが入ります</p>
      <div class="map">
        <img class="image" src="/images/img_sample-google-map.jpg" alt="sample google map" />
      </div>
    </div>
  </div>
  <div class="table-row">
    <span class="table-heading">見出し：テキストが入ります</span>
    <div class="table-content">
      <p>テキストが入りますテキストが入ります<br/><a href="#" class="underline">テキストリンク</a></p>
    </div>
  </div>
  <div class="table-row">
    <span class="table-heading">見出し：テキストが入ります</span>
    <div class="table-content"></div>
  </div>
</div>